In [4]:
import pandas as pd
from pathlib import Path
import openpyxl as oxl
import numpy as np
import pkg_resources
from ydata_profiling import ProfileReport
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as ss

df = pd.read_excel(Path("data") / "credit.xlsx")
df.info()

df["Cible"] = df["Cible"].map({1: 0, 2: 1})
df["Cible"].value_counts()

ProfileReport(df, title="Rapport de données - Crédit")

var_num = df[["Age", "Montant_credit", "Duree_credit"]]
var_cat = df.drop(columns=["Cle", "Age", "Montant_credit", "Duree_credit"])

print("Statistiques descriptives variables numériques :")
var_num.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Cle                  1000 non-null   int64
 1   Comptes              1000 non-null   int64
 2   Duree_credit         1000 non-null   int64
 3   Historique_credit    1000 non-null   object
 4   Objet_credit         1000 non-null   object
 5   Montant_credit       1000 non-null   int64
 6   Epargne              1000 non-null   int64
 7   Anciennete_emploi    1000 non-null   int64
 8   Taux_effort          1000 non-null   int64
 9   Situation_familiale  1000 non-null   object
 10  Garanties            1000 non-null   object
 11  Anciennete_domicile  1000 non-null   int64
 12  Biens                1000 non-null   object
 13  Age                  1000 non-null   int64
 14  Autres_credits       1000 non-null   object
 15  Statut_domicile      1000 non-null   object
 16  Nb_credits           1000 non-null   int64
 17  Type_emploi          1000 non-null   object
 18  Nb_pers_charge       1000 non-null   int64
 19  Telephone            1000 non-null   object
 20  Cible                1000 non-null   int64
dtypes: int64(12), object(9)
memory usage: 164.2+ KB
Statistiques descriptives variables numériques :

               Age  Montant_credit  Duree_credit
count  1000.000000     1000.000000   1000.000000
mean     35.546000     3271.258000     20.903000
std      11.375469     2822.736876     12.058814
min      19.000000      250.000000      4.000000
25%      27.000000     1365.500000     12.000000
50%      33.000000     2319.500000     18.000000
75%      42.000000     3972.250000     24.000000
max      75.000000    18424.000000     72.000000

# estimation d'un modèle logistique

# estimation d'un modèle probit

# estimation d'un modèle logistique